# vim: set ft=zsh:
# ~/.zsh/.zshrc
# Reload zsh config - use exec to start fresh shell
alias sz="exec zsh"
alias csz="cat $ZDOTDIR/.zshrc"
alias catrc="cat $ZDOTDIR/.zshrc"

# ~/.zshenv
alias szenv="source ~/.zshenv"
alias czenv="cat ~/.zshenv"
alias catenv="cat ~/.zshenv"

# Directories
alias ls="eza"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias c="cd ~/code"
alias h="cd ~"
alias l="ls -l"
alias ll="ls -al"
alias localbin="cd ~/.local/bin"
alias rmrf="rm -rf"

# Files
alias x="chmod +x"

# Git
# nice shorthand,plus it gets rid of annoyingly launching ghostscript on accident.
alias ga="git add"
alias gaa="git add ."
alias gau="git add -u" # git add unstaged only

alias gb="git branch"
alias gbl="git branch -l"

alias gc="git commit --verbose"
alias gca="git commit --amend"
alias gcb="git checkout -b"
alias gcm="git commit -m"

alias gd="git diff"
alias gds="git diff --staged"

alias gl="git log"
# fancy git
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias glogv="glog | vim -" # fancy git log opened in vim, useful for searching and copying
alias glogp="glog -p" # fancy git log, show diff for each commit
alias glv="git log | vim -" # git log opened in vim, useful for searching and copying

alias gp="git push"
alias gpf="git push --force-with-lease"
# git push and set upstream to current branch
function push_upstream () {
    git push -u origin $(git branch | grep "*" | awk -F " " '{print $NF}')
}
alias gpu=push_upstream
alias lg="lazygit"
alias gs="git status"

# Ruby
alias bi="bundle install"

# Homebrew with Ansible sync
source "$ZDOTDIR/scripts/brew-ansible-sync.sh"

#region Program Related

## Chezmoi
export MOIDIR="$HOME/.local/share/chezmoi"
alias moi="chezmoi"
# cd to dotfiles repo.
alias moicd="cd $MOIDIR"
# Run a git command on dotfiles repo from any dir.
alias gmoi="git -C $MOIDIR"
# Open dotfiles repo in editor.
alias edit="pushd $MOIDIR && $EDITOR $MOIDIR"
# Apply and source changes.
alias ma="chezmoi apply && sz"
alias moi_add_nvim="chezmoi add ~/.config/nvim && rm $MOIDIR/dot_config/nvim/lazy-lock.json"

## Ansible
alias dotansible="ansible-playbook $MOIDIR/ansible/main.yml -i $MOIDIR/ansible/inventory/main.yml"
alias dotansible_wsl="ansible-playbook $MOIDIR/ansible/main.yml -i $MOIDIR/ansible/inventory/main.yml --ask-become"
# Run specific ansible tasks by tag
alias dotansible_brew="ansible-playbook $MOIDIR/ansible/main.yml -i $MOIDIR/ansible/inventory/main.yml --tags brew"
alias dotansible_packages="ansible-playbook $MOIDIR/ansible/main.yml -i $MOIDIR/ansible/inventory/main.yml --tags packages"
alias dotansible_zsh="ansible-playbook $MOIDIR/ansible/main.yml -i $MOIDIR/ansible/inventory/main.yml --tags zsh"
alias dotansible_tmux="ansible-playbook $MOIDIR/ansible/main.yml -i $MOIDIR/ansible/inventory/main.yml --tags tmux"
alias dotansible_nodenv="ansible-playbook $MOIDIR/ansible/main.yml -i $MOIDIR/ansible/inventory/main.yml --tags nodenv"
alias dotansible_alacritty="ansible-playbook $MOIDIR/ansible/main.yml -i $MOIDIR/ansible/inventory/main.yml --tags alacritty"

## Nodenv
alias update_nodenv_build="git -C ~/.nodenv/plugins/node-build pull"

## Able
function start_able_dev {
    pkill Able
    pushd ~/code/able
    npm run electron:serve
    popd
}
alias abledev=start_able_dev

## Vim
alias vim="nvim"
alias v="nvim"
# alias vv="nvim ."
alias vd="pushd $MOIDIR && nvim ."
alias nvimcd="cd ~/.config/nvim"

## Grep
# Colorize matches in grep output.
alias grep="grep --color=auto"

# Search through history.
# Example:
# $ hgrep ls
# 17625  ls /usr/bin
# 17626  ls /usr/bin | grep firefox
# 17641  ls
function hgrep() {
    history | grep "${1}"
}

#endregion Programs

#region Zendesk-Specific Configuration
{{ if eq .chezmoi.hostname "GVXPDWWKWG" -}}
# Directories
alias zen="cd ~/code/zendesk"
function start_bill() {
    pushd ~/code/zendesk/billing
    zdi zendesk_billing -d restart -e UNICORN_TIMEOUT=600000
}
{{end -}}
#endregion Zendesk-Specific Configuration

function generate_password() {
    local password
    if [[ "$OSTYPE" == "linux-gnu"* ]]; then
        password=$(< /dev/urandom tr -dc _A-Z-a-z-0-9 | head -c 32)
    else
        password=$(env LC_CTYPE=C tr -dc "a-zA-Z0-9-_\$\?" < /dev/urandom | head -c 32)
    fi

    echo -n "$password" | pbcopy
    echo "New password copied to clipboard."
}

alias passgen=generate_password

#startregion Tools
alias ns="new_script --path . --name"
alias nt="new_script --name"
#endregion Tools

# Alacritty command line
#
{{ if eq .chezmoi.os "linux" -}}
export ALACRITTY_SETTINGS_DIR="/mnt/c/Users/Patrick/AppData/Roaming/Alacritty/Alacritty.toml"

# This function only applies to WSL. It opens the alacritty settings file in vim.
function alacritty_settings_open() {
  $EDITOR $ALACRITTY_SETTINGS_DIR
}

function alacritty_settings_update() {
  cp "$HOME/.local/share/chezmoi/dot_config/alacritty/alacritty.toml" $ALACRITTY_SETTINGS_DIR
}

{{end -}}

# Tmux
#
alias tmux_uninstall_plugins="~/.tmux/plugins/tpm/bin/clean_plugins"


# List all nvim configurations and launch nvim with the configuration you choose.
# Source: https://michaeluloth.com/neovim-switch-configs/
# This environment variable is the name of the folder in ~/.config/nvim that contains the
# configuration you want to use for neovim.
export NVIM_APPNAME="nvim-custom"
vv() {
  # Assumes all configs exist in directories named ~/.config/nvim-*
  local config=$(fd --max-depth 1 --glob 'nvim-*' ~/.config | fzf --prompt="Neovim Configs > " --height=~50% --layout=reverse --border --exit-0)

  # If I exit fzf without selecting a config, don't open Neovim
  [[ -z $config ]] && echo "No config selected" && return

  # Open Neovim with the selected config
  NVIM_APPNAME=$(basename $config) nvim $@
}
