# vim: set ft=zsh:
#region Notes

# What are these 'region' and 'endregion' sections?
# 'region' and 'endregion' are used throughout this file to
# provide folding in vscode, so that I can expand/collapse
# whole sections of this file for easier editing.

#endregion Notes

#region History
export HISTSIZE=100000 # max events for internal history
export SAVEHIST=100000 # max events in history file
export HISTFILE="${ZDOTDIR}/.zhistory"
# immediately append to history instead of on terminal close
setopt HIST_FIND_NO_DUPS
setopt EXTENDED_HISTORY         # record command start time
setopt INC_APPEND_HISTORY_TIME  # append command to history file immediately after execution
setopt SHARE_HISTORY
bindkey '^R' history-incremental-search-backward
alias history="fc -l 1"         # Ensure all history is shown
alias historyts="fc -f -l 1"    # Show all history, with timestamp
#endregion History

autoload -U compinit; compinit

#region SSH
eval "$(ssh-agent -s)" &> /dev/null
[[ -f ~/.ssh/github ]] && ssh-add -q ~/.ssh/github
[[ -f ~/.ssh/lahey ]] && ssh-add -q ~/.ssh/lahey
#endregion SSH

#region Linux specific
{{ if eq .chezmoi.os "linux" -}}
# rbenv setup instructions:
# https://developer.fedoraproject.org/start/sw/web-app/rails.html
export PATH="$HOME/.rbenv/bin:$PATH"
eval "$(rbenv init -)"
export PATH="$PATH:$HOME/.rbenv/plugins/ruby-build/bin"
{{ end -}}
#endregion Linux specific

export PATH="$PATH:$HOME/.local/bin"
export PATH="$PATH:$HOME/.local/bin/ssh-create"

#region OSX specific
{{ if eq .chezmoi.os "darwin" -}}

# homebrew installs some bins to /opt/homebrew/sbin
export PATH="/opt/homebrew/sbin:$PATH"

# https://gpanders.com/blog/the-definitive-guide-to-using-tmux-256color-on-macos/
export PATH="/opt/homebrew/opt/ncurses/bin:$PATH"
export TERMINFO_DIRS=$TERMINFO_DIRS:$HOME/.local/share/terminfo
export TERM=tmux-256color

[[ -f ~/.ssh/zendesk-company ]] && ssh-add -qK ~/.ssh/zendesk-company

# BEGIN ZDI
export DOCKER_FOR_MAC_ENABLED=true
source /Users/pmotard/Code/zendesk/zdi/dockmaster/zdi.sh
# END ZDI

## BEGIN -- managed by dot-ansible:zendesk -- ##
# export PLUGINS=$plugins
[[ -f ~/.local/bin/zendesk_zshrc.sh ]] && source ~/.local/bin/zendesk_zshrc.sh
## END -- managed by dot-ansible:zendesk -- ##

# for the billing repo
export HUSKY=0
{{end -}}
#endregion OSX specific

#region Directories
setopt AUTO_CD           # Auto-change directory without typing cd.
setopt AUTO_PUSHD        # Push dirs to the stack when cd'ing.
setopt EXTENDED_GLOB     # Use extended globbing syntax.
setopt PUSHD_IGNORE_DUPS # Don't push duplicates to the stack.
setopt PUSHD_SILENT      # Do not print the directory stack after pushd or popd.

alias d='dirs -v'
for index ({1..9}) alias "$index"="cd +${index}"; unset index
#endregion Directories

#region Nodenv
path+=($HOME/.nodenv/bin)
eval "$(nodenv init - zsh)"
#endregion Nodenv

# Load aliases at the end to ensure they aren't clobbered.
source $ZDOTDIR/aliases.zsh

#region Zplug
# zplug is a plugin manager for zsh. I install it initially
# using ansible. Specifically ansible/roles/zsh
source ~/.zplug/init.zsh
# vi mode
zplug "plugins/vi-mode", from:oh-my-zsh

# these two lines remove the user from prompt
DEFAULT_USER=$USER
prompt_context() {}
zplug "themes/agnoster", from:oh-my-zsh

# zplug "plugins/git", from:oh-my-zsh
zplug "zsh-users/zsh-autosuggestions"
# Don't use the zsh-vi-mode plugin. It breaks the keybindings
# in zsh-autosuggestions like using 'lk' for "accept".
# export ZVM_VI_ESCAPE_BINDKEY="fd"
# zplug "jeffreytse/zsh-vi-mode"
# syntax highlighting must be the last plugin sourced
zplug "zsh-users/zsh-syntax-highlighting", defer:2
# Fast zsh directory switching.
# https://github.com/agkozak/zsh-z?tab=readme-ov-file#installation
zplug "agkozak/zsh-z"

zplug load
#endregion Zplug

{{ if eq .chezmoi.os "darwin" -}}
#region z
# Fast zsh directory switching
# https://github.com/rupa/z
source "$(brew --prefix)/etc/profile.d/z.sh"
#endregion z
{{end -}}

#region Custom Key Bindings

# ## Colemak-DH layout
# # rebind esc for vim mode
# bindkey -M viins 'ts' vi-cmd-mode
# # this is for the zsh-autosuggetions plugin
# bindkey 'nn' autosuggest-accept
# bindkey 'nc' autosuggest-clear
# # bindkey 'ln' autosuggest-toggle

## Qwerty layout.
# rebind esc for vim mode
bindkey -M viins 'fd' vi-cmd-mode
# this is for the zsh-autosuggetions plugin
bindkey 'lk' autosuggest-accept
bindkey 'lc' autosuggest-clear
# bindkey 'ln' autosuggest-toggle
#endregion Custom Key Bindings

{{ if eq .chezmoi.os "darwin" -}}
## BEGIN -- managed by workstation, role: aws_cli -- ##
alias awswhoami='aws sts get-caller-identity'
function awscreds {
    aws-work.sh $1
    export AWS_PROFILE=$1
}
## END -- managed by workstation, role: aws_cli -- ##
{{end -}}
