# vim: set ft=zsh:

export ZDOTDIR="$HOME/.zsh"
# code_dir="$(which code)"
# export EDITOR="${code_dir}"
# export VISUAL="${code_dir}"
export EDITOR=nvim
export VISUAL=nvim
export PATH="$PATH:$HOME/.local/bin/tools"

{{ if eq .chezmoi.os "darwin" -}}

# export BROWSER=''

[[ -f ~/.zendesk-zshenv ]] && source ~/.zendesk-zshenv
## BEGIN -- managed by dot-ansible:zendesk -- ##
[[ -f ~/.local/bin/zendesk_zshenv.sh ]] && source ~/.local/bin/zendesk_zshenv.sh
## END -- managed by dot-ansible:zendesk -- ##

# Needed to ensure Lazygit looks in this dir for it's config.
export XDG_CONFIG_HOME="$HOME/.config"
{{end -}}

# For env vars not to be checked in.
[[ -f ~/.local/bin/zshenv.sh ]] && source ~/.local/bin/zshenv.sh || touch ~/.local/bin/zshenv.sh

# Ensure Node's global packages are in the PATH
export PATH="$PATH:$(npm get prefix -g)"

# Rust
if which rustc > /dev/null; then
. "$HOME/.cargo/env"
fi
