# -*- mode: sh; -*-
# vim: set ft=zsh:
#region homebrew
# Use brew shellenv for proper homebrew PATH setup (cached weekly)
{{ if eq .chezmoi.os "darwin" -}}
_brew_cache="$HOME/.cache/zsh/brew-shellenv.zsh"
if [[ ! -f "$_brew_cache" ]]; then
  mkdir -p "$HOME/.cache/zsh"
  /opt/homebrew/bin/brew shellenv > "$_brew_cache"
fi
source "$_brew_cache"
unset _brew_cache
{{ end -}}
#endregion homebrew

[[ -f $ZDOTDIR/work-zprofile.zsh ]] && source $ZDOTDIR/work-zprofile.zsh
