# -*- mode: sh; -*-
# vim: set ft=zsh:

# Machine type detection
{{ if eq .chezmoi.hostname "GVXPDWWKWG" -}}
export IS_WORK_MACHINE=1
{{ else -}}
export IS_WORK_MACHINE=0
{{ end -}}

export ZDOTDIR="$HOME/.zsh"
# code_dir="$(which code)"
# export EDITOR="${code_dir}"
# export VISUAL="${code_dir}"
export EDITOR=nvim
export VISUAL=nvim
export PATH="$PATH:$HOME/.local/bin/tools"
export PATH="$PATH:$HOME/code/scripts-private"

# Create ~/.local/bin, used in many places in my dotfiles
[ ! -d ~/.local/bin ] && mkdir -p ~/.local/bin


# export BROWSER=''

{{ if eq .chezmoi.hostname "GVXPDWWKWG" -}}
# Zendesk wiki vault root for zd plugin
export ZD_VAULT_ROOT="${HOME}/code/zendesk/wiki-zendesk"

[[ -f ~/.zendesk-zshenv ]] && source ~/.zendesk-zshenv
## BEGIN -- managed by dot-ansible:zendesk -- ##
[[ -f ~/.local/bin/zendesk_zshenv.sh ]] && source ~/.local/bin/zendesk_zshenv.sh
## END -- managed by dot-ansible:zendesk -- ##
{{ end -}}

# Needed to ensure Lazygit looks in this dir for it's config.
export XDG_CONFIG_HOME="$HOME/.config"

# https://github.com/sass/sassc-rails/issues/182#issuecomment-2501018835
# export PATH="/opt/homebrew/opt/llvm/bin:$PATH"
# export LDFLAGS="-L/opt/homebrew/opt/llvm/lib"
# export CPPFLAGS="-I/opt/homebrew/opt/llvm/include"
# export CC=clang
# export CXX=clang++
# export SDKROOT="$(xcrun --show-sdk-path)"
#
# For env vars not to be checked in.
[[ -f ~/.local/bin/zshenv.sh ]] && source ~/.local/bin/zshenv.sh || touch ~/.local/bin/zshenv.sh

# Ensure Node's global packages are in the PATH
if which npm > /dev/null; then
  export PATH="$PATH:$(npm get prefix -g)"
fi

# Rust
[[ -f "$HOME/.cargo/env" ]] && source "$HOME/.cargo/env"

# Go
export PATH="$PATH:$HOME/go/bin"
