{{ if eq .chezmoi.os "darwin" -}}
#region Homebrew
# Use brew shellenv for proper Homebrew PATH setup
eval "$(/opt/homebrew/bin/brew shellenv)"
#endregion Homebrew
{{end -}}

{{ if eq .chezmoi.hostname "GVXPDWWKWG" -}}
#BEGIN ZETUP
eval "$( /opt/homebrew/bin/brew shellenv )"
eval "$( zetup env shell-exports --zsh )"
#END ZETUP

## BEGIN -- managed by zendesk:workstation -- ##
[[ -f ~/.local/bin/zendesk_zprofile.sh ]] && source ~/.local/bin/zendesk_zprofile.sh
## END -- managed by zendesk:workstation -- ##

export ZDP_DBT_DIR=/Users/pmotard/zdp_dbt_repos
{{end -}}
