# -*- mode: toml; -*-
{{ if ne .chezmoi.hostname "GVXPDWWKWG" -}}
[".ssh/config"]
    type = "file"
    url = "file://{{ .chezmoi.homeDir }}/code/dotfiles-private/ssh/config"
    refreshPeriod = "0"

[".local/bin/zshenv.sh"]
    type = "file"
    url = "file://{{ .chezmoi.homeDir }}/code/dotfiles-private/dot_local/bin/zshenv.sh"
    refreshPeriod = "0"
[".claude/settings.json"]
    type = "file"
    url = "file://{{ .chezmoi.homeDir }}/code/dotfiles-private/dot_claude/settings.json"
    refreshPeriod = "0"
{{ end -}}
