[url "git@github.com:"]
	insteadOf = gh:
[url "git@bitbucket.org:"]
	insteadOf = bb:
[user]
	name = patrick-motard
	email = motard19@gmail.com
[core]
	editor = nvim
	excludesfile = /Users/pmotard/.gitignore_global
[alias]
	tagcommit = rev-list -n 1
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[difftool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	# cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
	keepBackup = false
[commit]
	template = /Users/pmotard/.stCommitMsg
