#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! bg Background color row
! fg Text color
! bgalt Background color alternating row
! hlfg Foreground color selected row
! hlbg Background color selected row

! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-enabled: true
rofi.color-window: argb:b2011d32, #20a8e8, #20a8e8
rofi.color-normal: #1166b6, #acd3ec, #1166b6, #1166b6, #eee8d5
rofi.color-active: #20a8e8, #acd3ec, #eee8d5, #268bd2, #fdf6e3
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3