[alias]
	branch-sorted = branch --sort=committerdate
	branch-sorted-all = branch --sort=committerdate -la
[user]
	email = motard19@gmail.com
	name = Patrick Motard
[filter "lfs"]
	clean = {{ .chezmoi.config.git.command }}-lfs clean -- %f
	smudge = {{ .chezmoi.config.git.command }}-lfs smudge -- %f
	process = {{ .chezmoi.config.git.command }}-lfs filter-process
	required = true

# Delta{{ .chezmoi.pathListSeparator }} https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}github.com{{ .chezmoi.pathSeparator }}dandavison{{ .chezmoi.pathSeparator }}delta
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w{{ .chezmoi.pathSeparator }} a light background color (e.g. the default macOS terminal)
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[pull]
	rebase = true
[init]
	defaultBranch = main
