layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                color_bg        "#3b4252"
                color_fg        "#d8dee9"

                //Gruvbox Dark Mode
                color_bg     "#282828"
                color_bg0_h  "#1d2021"
                color_bg1    "#3c3836"
                color_bg2    "#504945"

                color_fg0    "#fbf1c7"
                color_fg1    "#ebdbb2"
                color_fg2    "#dbc4a1"
                color_fg3    "#bdae93"
                color_fg4    "#a89984"

                color_red    "#cc241d"
                color_green  "#98971a"
                color_yellow "#d79921"
                color_blue   "#458588"
                color_purple "#b16286"
                color_aqua   "#689d6a"
                color_gray   "#a89984"
                color_orage  "#d65d0e"

                format_left   "#[fg=#89B4FA]{tabs}"
                format_center "{mode}"
                format_right  "{command_git_branch} #[bg=$bg1,fg=$fg1]{session} "
                format_space  ""

// search for e0 https://www.nerdfonts.com/cheat-sheet
                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=$bg2]{char}"
                border_position "bottom"

                // When moving from one tab to another, the tabs with multiple panes show the pane frames
                // after a delay. It's disorienting because the pane pushes the text inward once the frame
                // renders. So I'm choosing to always or never have frames.
                hide_frame_for_single_pane "false"

                mode_normal        "#[bg=$yellow,fg=$fg1]   Leader"
                mode_locked        "#[bg=$bg,fg=$fg1]   Locked "
                mode_resize        "#[bg=$blue,fg=$fg1] {name} "
                mode_pane          "#[bg=$blue,fg=$fg1] {name} "
                mode_tab           "#[bg=$blue,fg=$fg1] {name} "
                mode_scroll        "#[bg=$blue,fg=$fg1] {name} "
                mode_enter_search  "#[bg=$blue,fg=$fg1] {name} "
                mode_search        "#[bg=$blue,fg=$fg1] {name} "
                mode_rename_tab    "#[bg=$blue,fg=$fg1] {name} "
                mode_rename_pane   "#[bg=$blue,fg=$fg1] {name} "
                mode_session       "#[bg=$blue,fg=$fg1] {name} "
                mode_move          "#[bg=$blue,fg=$fg1] {name} "
                mode_prompt        "#[bg=$blue,fg=$fg1] {name} "
                mode_tmux          "#[bg=$blue,fg=$fg1] {name} "

                tab_normal   "#[fg=$bg,bg=$bg1]{index}{name}"
                tab_active   "#[bg=$bg,fg=$green] #[bg=$green,fg=$bg1,bold,italic] {name}#[bg=$bg,fg=$green] "
                tab_active_fullscreen   "#[bg=$purple,fg=$fg1,bold,italic] {name} {fullscreen_indicator} "

                // tab_normal   "#[bg=$bg,fg=$bg2] #[bg=$bg2,fg=$fg1] {name} #[bg=$bg,fg=$bg2] "
                // tab_active   "#[bg=$bg,fg=$green] #[bg=$green,fg=$bg1,bold,italic] {name}#[bg=$bg,fg=$green] "
                // tab_active_fullscreen   "#[bg=$purple,fg=$fg1,bold,italic] {name} {fullscreen_indicator} "

                tab_sync_indicator       "<> "
                tab_fullscreen_indicator "󱡴"
                tab_floating_indicator   "⬚ "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[bg=$bg1,fg=$fg1] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                // datetime        "#[fg=#6C7086,bold] {format} "
                // datetime_format "%A, %d %b %Y %H:%M"
                // datetime_timezone "europe/berlin"
            }
        }
        children
    }
}
