---
- homebrew:
    name:
      - age
      - antigen # zsh plugin manager
      - chezmoi # dotfile manager
      - entr
      - eza # colorized terminal ls
      - fzf
      - git-delta
      - hyperfine
      - mpd
      - neovim
      - python3
      - rbenv
      - sesh
      - slides
      - tmux
      - watch
      - zoxide
      - zsh
      - protobuf
      - google-chrome
      - shortcat
      - automake
      - ffmpeg
    state: present
- homebrew_cask:
    state: present
    name:
      - claude-code
      - docker
      - signal
      - obsidian
      - raycast
      - discord
      - iterm2
      - visual-studio-code
      - spotify
      - keycastr
      - dbeaver-community
      - font-iosevka-term-nerd-font
- name: Remove unwanted brew packages.
  homebrew:
    name:
      - z
    state: absent
