---
- homebrew:
    name:
      - age
      - antigen # zsh plugin manager
      - chezmoi # dotfile manager
      - entr
      - eza # colorized terminal ls
      - fzf
      - git-delta
      - hyperfine
      - mpd
      - neovim
      - python3
      - rbenv
      - sesh
      - slides
      - tmux
      - watch
      - zoxide
      - zsh
      - protobuf
      - google-chrome
      - shortcat
      - automake
      - ffmpeg
      - yq
      - qutebrowser
      - superwhisper
      - eqmac
    state: present
- homebrew_cask:
    state: present
    name:
      - claude-code      - dbeaver-community      - discord      - docker      - font-iosevka-term-nerd-font      - iterm2      - keycastr      - nikitabobko/tap/aerospace      - obsidian      - raycast      - signal      - spotify      - visual-studio-code      - whispering
- name: Remove unwanted brew packages.
  homebrew:
    name:
      - z
    state: absent
