---
- name: Add Homebrew taps
  homebrew_tap:
    name:
      - d12frosted/emacs-plus
    state: present

- homebrew:
    name:
      - age
      - antigen # zsh plugin manager
      - automake
      - chezmoi # dotfile manager
      - cmake
      - emacs-plus@30
      - entr
      - eqmac
      - eza # colorized terminal ls
      - ffmpeg
      - fzf
      - git-delta
      - go
      - google-chrome
      - hyperfine
      - libtool
      - mpd
      - neovim
      - protobuf
      - python3
      - qutebrowser
      - rbenv
      - sesh
      - shortcat
      - slides
      - superwhisper
      - tmux
      - watch
      - yq
      - zoxide
      - zsh
    state: present
- homebrew_cask:
    state: present
    name:
      - claude-code
      - dbeaver-community
      - discord
      - docker
      - font-iosevka-term-nerd-font
      - iterm2
      - keycastr
      - nikitabobko/tap/aerospace
      - obsidian
      - raycast
      - signal
      - spotify
      - visual-studio-code
      - whispering
- name: Remove unwanted brew packages.
  homebrew:
    name:
      - z
    state: absent
