---
- homebrew:
    name:
      - python3
      - zsh
      - neovim
      - watch
      - antigen # zsh plugin manager
      - chezmoi # dotfile manager
      - fzf
      - tmux
      - zoxide
      - git-delta
      - eza # colorized terminal ls
      - hyperfine
      - rbenv
    state: present
- homebrew_cask:
    state: present
    name:
      - signal
      - obsidian
      - raycast
      - discord
      - iterm2
      - visual-studio-code
      - spotify
      - keycastr
      - dbeaver-community
      - font-iosevka-term-nerd-font
- name: Remove unwanted brew packages.
  homebrew:
    name:
      - z
    state: absent
