---
- hosts: localhost
  connection: local
  gather_facts: no
  pre_tasks:
    - setup:
        gather_subset:
          - user_dir
      tags: [ always ]
  roles:
    - role: zsh
      tags: [zsh]
    - role: hammerspoon
      when: ansible_os_family == "Darwin" and hammerspoon_enabled | default(false)
      tags: [hammerspoon]
    - role: emacs
      when: emacs_enabled | default(false)
      tags: [emacs]
  tasks:
    - debug:
        msg: "{{ansible_os_family}}"
      tags: [always]
    - import_tasks: tasks/apt.yml
      when: ansible_os_family == "Debian"
      tags: [apt, packages]
    - import_tasks: tasks/vundle.yml
      tags: [vundle, vim]
    - import_tasks: tasks/homebrew.yml
      when: ansible_os_family == "Darwin"
      tags: [homebrew, brew, packages]
    - import_tasks: tasks/gh.yml
      tags: [gh, github]
    - import_tasks: tasks/alacritty.yml
      tags: [alacritty, terminal]
    - import_tasks: tasks/nodenv.yml
      tags: [nodenv, node]
    - import_tasks: tasks/tmux.yml
      tags: [tmux]
    - import_tasks: tasks/system-state-check.yml
      when: ansible_os_family == "Darwin"
      tags: [system-state-check, launchd]
    - import_tasks: tasks/aerospace.yml
      when: ansible_os_family == "Darwin" and aerospace_enabled | default(false)
      tags: [aerospace, window-manager]
    - import_tasks: tasks/repos.yml
      tags: [repos]
